.blog-header {
  min-height: 300px;
  background: #23293a;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  background-image: url(/img/pattern.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  h1.header {
    font-size: 2.5em !important;
    font-family: 'Lobster', cursive;
  }
}

.ui.header {
  color: white;
  .icon {
    font-size: 1.5em !important;
  }
}

.blog-description {
  padding: 10px;
}

.main-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0 !important;
  .item {
    color: white !important;
  }
}

.about {
  padding-top: 40px !important;
  text-align: center;
  font-family: 'Quattrocento', serif;
  img {
    width: 150px;
  }

  .button {
    border-radius: 0 !important;
  }
}

