.content {
  font-family: 'Quattrocento', serif;
  .header {
    font-family: 'Quattrocento', serif !important;
    a {
      color: black !important;
    }
  }
}

.items .item {
  padding: 5px !important;
  border-bottom: 1px solid #e2e2e2 !important;
}
